@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
margin:0;
padding: 0;
box-sizing: border-box;
line-height:1;
}

body{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <400>;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    min-width:276px;
}

.container{
    background-color: rgb(224, 231, 238);
    border-radius: 10px;
    margin:10px auto;
    max-width: 95%;
}

img{
    max-width: 100%;
}

.nav{
    list-style: none;
    margin: 10px 0px;
    float: right;
}

.nav li{
    float: left;
}

.nav a{
     float:left;
     text-decoration: none;
     color:black;
     padding: 10px;
     display: inline-block;
}

.nav::after{
    content: " ";
    display: table;
    clear: both;
}


.header::after{
    content: " ";
    display: table;
    clear: both;
}

.nav a:hover{
    background-color: rgb(199, 212, 212);
    border-radius: 5px;
}

.box p,.box h2, .box h3 {
    padding: 10px;
    border-radius: 18px;
    border: 1px,#a3a2a2;
}

.content .box a{
    color:white;
    background-color: rgb(60, 141, 216);
    padding: 10px 5px;
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
}
.box p:first-child{
    color: #bebcbc;
}
.sidebar .box:first-child{
    text-align: center;
}



.wrapper{
    padding:20px;
}

.wrapper::after{
    content: " ";
    display: table;
    clear: both;
}

.logo{
    margin: 10px 0 0 10px;
    font-weight:bold;
}

.sidebar img{
height:80px;
width:80px;

}

@media (min-width: 600px) {
  .logo {float: left;
    margin-top: 20px;}
  .nav {float: right;}
   .content{
    float:left; width:70%}
.sidebar{float: right;width:28%; margin-left: 2%;}
  }
}