@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
margin:0;
padding: 0;
box-sizing: border-box;
line-height:1;
}

body{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <400>;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    min-width:276px;
}

.container{
    background-color: rgb(224, 231, 238);
    border-radius: 10px;
    margin:10px auto;
    max-width: 95%;
}

img{
    max-width: 100%;
}

.nav{
    list-style: none;
    margin: 10px 0px;
    float: right;
}

.nav a{
     float:left;
     text-decoration: none;
     color:black;
     padding: 10px;
     display: inline-block;
}

.nav::after{
    content: " ";
    display: table;
    clear: both;
}


.header::after{
    content: " ";
    display: table;
    clear: both;
}

.nav a:hover{
    background-color: rgb(199, 212, 212);
    border-radius: 5px;
}

.logo{
    margin: 10px 0 0 10px;
    font-weight:bold;
    float: left;
    margin-top: 20px;
}

@media (min-width: 600px) {
  
}